* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.wrapper {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper-main-form {
    width: 370px;
    margin: 0 auto;
}
.cards-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.title-block h1 {
    padding: 112px 0 60px 0;
    text-align: left;
    color: #FFF;
}
.title-block h2 {
    padding: 112px 0 60px 0;
    text-align: center;
}
.title-block p {
    color: #86878B;
    text-align: center;
}
.title-block__separator {
    width: 170px;
    height: 0px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto 45px auto;
}

.icons-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-block div {
    padding: 0 23px;
}
.icons-block img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.btn-1 {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 137px;
    color: #FFF;
    border: 3px solid #FFF;
    text-decoration: none;
    transition: all 0.5s ease;
}
.btn-1:hover {
    color: #EC7979;
    border: 3px solid #EC7979;
}
.btn1:active {
    background: #AB4949;
    border: none;
}

/* header */
.header {
    background-color: #000;
}
.wrapper_header {
    width: 100%;
}
.header__burger {
    display: none;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin: 22px 0;
    margin-left: -50px;
}
.header__navigation a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFF;
    padding: 34px 32px 30px 32px;
    transition: all 0.5s ease;
}
.header__navigation a:hover {
    background-color: #EC7979;
    text-transform: uppercase;
}

/* main section*/
.main {
    padding: 207px 0 183px 0;
    background: #000 url(../images/bg-main.png) no-repeat center center / cover;
}
.main__content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.main .title-block {
    max-width: 670px;
}
.main .title-block p {
    color: #FFF;
    text-align: left;
    width: 270px;
}
.main .title-block__separator {
    width: 170px;
    height: 0px;
    border-bottom: 1px solid #FFF;
    margin: 0 0 45px 0;
}
.main .btn-1 {
    padding: 20px 90px;
    margin-top: 42px;
}
.main__form {
    width: 470px;
    height: 450px;
    background-color: #FFF;
    border-radius: 10px;
}
.main__logo {
    transform: translate(46px, 46px) scale(1.9);
}
.main__form {
    padding-top: 37px;
    position: relative;
}
.main__form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__form__content span {
    color: #EC7979;
}
.main__form__content h4 {
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #333;
}
.main__form__content input[type="text"], .main__form__content input[type="email"], .main__form__content input[type="password"] {
    width: 100%;
    height: 38px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 0 0 10px 0;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.main__form__content input[type="text"]::placeholder, .main__form__content input[type="email"]::placeholder, .main__form__content input[type="password"]::placeholder {
    color: #BDBDBD;
}
.main__form input[type="submit"] {
    width: 100%;
    border: none;
    background-color: #EC7979;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 24px 0;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    transition: all 0.5s ease;
    
}
.main__form input[type="submit"]:hover {
    background-color: #AB4949;
}
.main__form input[type="submit"]:active {
    box-shadow: inset 0px 0px 10px #AB4949;
}

/* social media */
.social-media {
    background-color: #F8EFEF;
}
.social-media__cotent {
    display: flex;
    justify-content: space-between;
}
.social-media__info {
    padding: 20px 0;
}
.social-media__info h4 {
    color: #333333;
}
.social-media__info p {
    margin-top: 43px;
    color: #86878B;
}

/* awesome */
.awesome__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.awesome__card img {
    display: block;
    width: 92px;
    height: 92px;
    margin: 39px 0 73px 0;
}
.awesome__card p {
    margin-top: 41px;
}
.awesome .cards-wrapper {
    padding: 71px 0 51px 0;
}

/* tabs content */

.features {
    padding: 100px 0 50px 0;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}
.tabs input, .tabs__content {
    display: none;
}
.tabs__content {
    border: 2px solid #C6CBCD;
    width: 100%;
    padding-left: 100px;
    position: relative;
    order: 1;
}
.tabs__content .tabs__content__left {
    width: 570px;
}
.tabs__content .tabs__content__left h3 {
    margin: 50px 0 80px 0;
}
.tabs__content .tabs__content__left p:not(:last-child) {
    margin-bottom: 25px;
}
.tabs__content__right {
    display: flex;
    flex-grow: 1;
    background: #FFF url(../images/statue-of-liberty.png) no-repeat center center / cover;
}
.tabs__content .btn-1 {
    padding: 20px 90px;
    margin: 27px 0 50px 0;
    background-color: #EC7979;
    color: #FFF;
    border: none;
}
.tabs__content .btn-1:hover {
    background-color: #AB4949;
}
.tabs__content .btn-1:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.tabs label {
    position: relative;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.tabs label:has(input:checked) {
    border-left: 2px solid #C6CBCD;
    border-top: 2px solid #C6CBCD;
    border-right: 2px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
}
.tabs label:has(input:checked)::after {
    position: absolute;
    content: '';
    width: 200px;
    border-bottom: 4px solid #FFF;
    left: 0px;
    bottom: -2px;
    z-index: 2;
}
.tabs label:has(input:checked) + .tabs__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* options */
.options {
    background-color: #F5F5F5;
}
.options__card {
    width: 100%;
}
.options__card p {
    text-align: center;
    color: #86878B;
    padding: 12px 0;
    background-color: #FFFFFF;
    border: 2px solid #F5F5F5;
}
.options__card p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 15px 0;
    color: #FFF;  
    background: #333333;
}
.options__card p:nth-child(2) {
    font-weight: 700;
    font-size: 36px;
    padding: 29px 0;
    color: #FFF;
    background: #333333;
}
.options__card p:nth-child(3) {
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    padding: 15px 0;
}
.options__card_up {
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.options .cards-wrapper {
    padding: 79px 0 43px 0;
}

/* saying */
.saying .cards-wrapper {
    padding: 83px 0 64px 0;
}
.saying__card {
    width: 100%;
}
.saying__card__comment {
    text-align: center;
    color: #86878B;
    padding: 38px 24px;
    background-color: #E2E2E2;
    border-radius: 10px;
    position: relative;
}
.saying__card__comment::after {
    content: url(../images/icons/triangle-gray.svg);
    position: absolute;
    bottom: -24px;
    left: 70px;
}
.saying__card__person {
    display: flex;
    margin-top: 66px;
}
.saying__card__person img {
    margin-right: 30px;
}
.saying__card__person h4 {
    padding: 20px 0 32px 0;
}
.saying__card__dots {
    display: none;
}
.saying__card__dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #86878B;
}

/* design */
.design {
    background: #000 url(../images/bg-city.png) no-repeat center top / cover;
}
.design .title-block h2, .design .title-block p{
    color: #FFF;
}
.design .title-block__separator {
    border-bottom: 1px solid #FFF;
}
.design__button {
    display: flex;
    justify-content: center;
    padding: 73px 0 50px 0;
}

/* contact */
.contact__form {
    padding: 89px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__form__content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.contact__form .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact__form textarea {
    height: 200px;
    padding: 0;
    resize: none;
}
.contact__form__content input {
    margin-bottom: 50px;
    padding: 0 0 11px 0;
}
.contact__form__content input, .contact__form textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
}
.contact__form__content input::placeholder, .contact__form textarea::placeholder {
    color: #BDBDBD;
}
.contact__form__content input:last-of-type {
    margin-bottom: 0px;
}
.contact__form__content .left, .contact__form__content .right {
    width: 540px;
}
.contact .btn-1 {
    background-color: #EC7979;
    border: none;
    margin-top: 50px;
}
.contact .btn-1:hover {
    color: #FFF;
    background-color: #AB4949;
}
.contact .btn-1:active {
    box-shadow: inset 0px 0px 10px #AB4949;
    background-color: #EC7979;
}

/* footer */
.footer {
    background-color: #000;
}
.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 27px 0;
}
.footer__content .icons-block {
    transform: scale(0.7);
}
.footer__content p {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 27px;
}