* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.wrapper {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.title-block h2 {
    padding: 112px 0 60px 0;
    text-align: center;
}
.title-block p {
    color: #86878B;
    text-align: center;
}
.title-block__separator {
    width: 170px;
    height: 0px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto 45px auto;
}